:root {
  --white-width: 2.6rem;
  --black-width: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@property --rotation{
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotationAnimation {
  from{
    --rotation: 0deg;
  }
  to{
    --rotation: 360deg;
  }
}

main {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url("./img/Gemini_Generated_Image_tzsu3ptzsu3ptzsu_upscayl_3x_upscayl-standard-4x.png");
  background-size: cover;
  background-position: center;
  perspective: 1000px;

  .keyboard {
    display: flex;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(5rem) rotateX(20deg);
    bottom: 2.5rem;
    border: 4px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(black) padding-box,
      conic-gradient(from var(--rotation), #FFCB6F, #c7844b) border-box;
    animation: rotationAnimation 8s linear infinite;
    
    .note {
      position: relative;
      padding: 1rem;
      width: var(--white-width);
      height: 18rem;
      outline: 1px solid #000;
      // border-radius: 0 0 50px 50px;
      // border-radius: 50px 50px 0px 0px;
      box-shadow: inset 0px -14px 12px -11px #000;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .note-text {
        color: #999999;
        pointer-events: none;
      }
      .key-note {
        color: #999999;
      }

      .note-text::selection {
        background-color: transparent;
      }
    }

    .accidentals {
      width: var(--black-width);
      height: 9rem;
      outline: 1px solid #000;
      border-radius: 0 0 50px 50px;
      box-shadow: inset 0px -14px 12px -11px #fff;
      background-color: #000000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem;
      position: absolute;
      top: 0;
      left: calc(
        var(--i) * var(--white-width) + var(--white-width) - var(--black-width) /
          2
      );

      .note-text {
        color: #dadada;
        pointer-events: none;
      }
      .key-note {
        color: #dadada;
      }

      .note-text::selection {
        background-color: transparent;
      }
    }
  }
}
