*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .note{
        width: 2.8rem;
        height: 18rem;
        outline: 1px solid #000;
        border-radius: 0 0 50px 50px;
        box-shadow: inset 0px -14px 12px -11px #000;
        background-color: #fff;
        text-align: center;
        
        .note-text{
            color: #999999;
            pointer-events: none;
        }

        .note-text::selection{
            background-color: transparent;
        }
    }
}